body {
    height: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 24px 12px;
    margin: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgb(99, 83, 83);
}

h2 {
    margin-bottom: 15px;
    color: rgb(99, 83, 83);
}

p{
   font-weight: 200;    
   font-size: small;
}

.logo {
    display: inline-flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    align-items: center;
    gap: 20px;
}

.logo p{
    font-weight: bold;
    font-size: large;
}

header {
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}

a{
    color: inherit;
    text-decoration: none;
}

/* Desktop Navigation */
nav {
    display: flex;
    margin-right: 100px;
    gap: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(56, 48, 48);
    color: white;
    border-radius: 5px;
    padding: 0 5px;
}

/* Hamburger button (hidden on desktop) */
.hamburger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

/* Mobile Menu Hidden */
nav {
    transition: 0.3s ease;
}

nav.show {
    display: block;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 50px;
    background-color:rgba(246, 248, 251, 1);
}

.hero-text {
    max-width: 50%;
    text-align: left;
}

picture img {
    box-shadow: 0 2px 6px rgb(56, 48, 48, 0.9);
    border-radius: 5px;
    filter: grayscale(20%);
}

picture img:hover {
    transform: scale(1.05) rotate(0deg);
    border-radius: 20px;
}

.btn {
    padding: 15px 40px;
    background-color: rgb(46, 31, 159);
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
}

.btn:hover {
    background-color: rgb(56, 48, 48);
    color: white;
    text-decoration: underline;
}

.section {
    margin-top: 0%;   
    padding: 60px;
}

.carousel {
  position: relative;
  width: 500px;       /* change size */
  height: 350px;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 500px;       /* must match carousel width */
  height: 350px;      /* must match carousel height */
  object-fit: cover;
}   

/* Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
}

.prev { left: 15px; }
.next { right: 15px; }

.carousel-btn:hover {
  background: black;
}

.summary-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
}

.summary-item {
  flex: 1;
}

/* icon */
.summary-item img {
  width: 60px;          /* adjust to your icons */
  height: 60px;
  margin-bottom: 18px;
}

/* big title (35+ Years, SEA Region, etc.) */
.summary-item h2 {
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #020b27;       /* dark navy */
}

/* small subtitle (Since 1987, Export Markets, etc.) */
.summary-item p {
  margin: 0;
  font-size: 16px;
  color: #8a919f;       /* gray */
}

/* responsive: stack on small screens */
@media (max-width: 768px) {
  .summary-info {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
}
/* About Grid */
.product-grid, .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-item, .blog-item {
    height: 450px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: 0.3s ease;;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(56, 48, 48, 0.9);
}

.product-item img, .blog-item img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-item h4, .blog-item h4 {
    text-align: justify;
    margin: 30px 20px 10px 20px;
    color: rgb(99, 83, 83);
}

.product-item p, .blog-item p {
    text-align: justify;
    margin: 10px 20px 20px 20px; 
    color: rgb(99, 83, 83);
}

#products {
    background-color:rgba(246, 248, 251, 1);
}
#blog {
    background-color:rgb(255, 255, 255);
}   

.blog-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(56, 48, 48, 0.9);
}

.career-grid {
    display: inline;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.career-item {
    text-align: left;
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-text{
    display: flex;
    flex-direction: column;  /* put place under title */
}

.career-text p{
    margin: 0px;
    color: rgb(156, 156, 156);
}

.career-text h3{
    margin: 0px;
}


.career-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(56, 48, 48, 0.9);
}

#career {
    background-color:rgba(246, 248, 251, 1);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.testimonial-item {
    background: rgb(234, 239, 239);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.testimonial-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgb(56, 48, 48, 0.9);
}


/* Contact */
.contact-grid {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.contact-item {
    text-align: left;
    background: rgb(234, 239, 239);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.mv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding: 50px;
    background-color: rgb(234, 239, 239);
}

.mv-text {
    max-width: 50%;
    text-align: left;
}

form {
    display: grid;
    gap: 10px;
    max-width: 550px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(46, 31, 159);
    font-weight: bold;
    color: rgb(234, 239, 239);
    margin-top: 20px;
}

footer .icons img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.3s ease;
    padding: 5px;
}

footer .icons img:hover {
    transform: scale(1.2);
    background: rgb(56, 48, 48);
}

/* Responsive */
@media (max-width: 1000px) {
    .logo {
        margin-left: 0;
        font-size: 20px;
        gap: 10px;
    }

    nav {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        height: auto;
        width: 100px;
        top: 90px;
        right: 0;
        padding: 20px;
        border-radius: 10px;
        gap: 15px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }

    nav.show {
        display: flex;
        animation: fadeIn 0.3s ease;
        margin-right: 40px;
    }

    nav a {
        color: rgb(99, 83, 83);
    }

    /* Show hamburger on mobile */
    .hamburger {
        margin-right: 50px;
        display: block;
    }

    .hero-text {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .career-item {
        flex-direction: column;
        text-align: left;
    }

    .contact-grid {
        flex-direction: column;
        text-align: left;
    }
    
    .career-item {
        align-self: stretch;
        text-align: center;
    }
}

@media (max-width: 1300px) {
    .mv {
        flex-direction: column;
        text-align: center;
    }

    .mv-text {
        max-width: 100%;
    }
}

/* Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0px); }
}